---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/home/hero.astro";
import Posts from "../components/home/posts.astro";
import About from "../components/home/about.astro";
import Categories from "../components/home/categories.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero />
    <Posts />
    <About />
    <Categories />
  </main>
</Layout>

<style></style>
