---
import Layout from "../layouts/Layout.astro";
import TheButton from "../components/the-button.astro";
import Hero from "../components/home/hero.astro"
---

<Layout title="Welcome to Astro.">
	<main>
		<Hero></Hero>
	</main>
</Layout>

<style>
</style>
