---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/home/hero.astro";
import Posts from "../components/home/posts.astro";
import About from "../components/home/about.astro";
import Categories from "../components/home/categories.astro";
import WhyWeStarted from "../components/home/why-we-started.astro";
import Authors from "../components/home/authors.astro";
import Brands from "../components/home/brands.astro";
import Testimonials from "../components/home/testimonials.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero />
    <Posts />
    <About />
    <Categories />
    <WhyWeStarted />
    <Authors />
    <Brands />
    <Testimonials />
  </main>
</Layout>

<style></style>
