---
import author1 from "../../assets/images/author1.png"
---

<section class="authors">
    <div class="container">
        <h2 class="title">Authors</h2>

        <div class="wrapper">
        <!-- cards -->
        <div class="card">
            <div class="image-wrapper">
                <img src={author1} alt="image" class="image">
            </div>

            <h3 class="name">Floyd Miles</h3>
            <p class="bio">Content Writer @Company</p>
            <div class="sci">
                <a href="" class="sci-link">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="sci-link">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="sci-link">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="sci-link">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </div>
        </div>

    </div>
</section>




<style lang="scss">
     @import "../../assets/styles/variables.scss";

     .authors{
        
     }
</style>