---
import cardicon2 from "../../assets/images/start-up-icon2.png";
import cardicon4 from "../../assets/icons/cyborg.svg";
import cardicon3 from "../../assets/icons/economy (1).svg"
import cardicon1 from "../../assets/icons/Icon.svg"
---

<section class="categories">
    <div class="container">
        <h2 class="title">Choose A Catagory</h2>

        <div class="wrapper">
            <!-- card -->
            <div class="card">
                <img src={cardicon1} alt="icon" class="icon">
                <h3 class="card-ti">Business</h3>
                <p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            </div>

             <!-- card -->
             <div class="card">
                <img src={cardicon2} alt="icon" class="icon">
                <h3 class="card-ti">Startup</h3>
                <p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            </div>

             <!-- card -->
             <div class="card">
                <img src={cardicon3} alt="icon" class="icon">
                <h3 class="card-ti">Economy</h3>
                <p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            </div>

             <!-- card -->
             <div class="card">
                <img src={cardicon4} alt="icon" class="icon">
                <h3 class="card-ti">Technology</h3>
                <p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            </div>


        </div>
    </div>
</section>

<style lang="scss">
 @import "../../assets/styles/variables.scss";

 .categories{
    padding-bottom: 128px;

    .title{
        text-align: center;
        margin-bottom: 48px;
    }


    .wrapper{
        display: flex;
        justify-content: space-between;


        .card{
            width: 296px;
            padding: 32px;
            border: 1px solid rgba($gray-400, $alpha: 0.3);
            cursor: pointer;

            &:hover{
                background-color: $primary;

            }


            .icon{
                width: 48px;
                height: 48px;
                padding: 8px; 
                background-color: $light;
                border-radius: 15px;
                margin-bottom: 16px;
            }

            .text{
                margin-top: 16px;
                color: $gray-400;
            }
        }
    }
 }
</style>