---
import featuredImage from "../../assets/images/white-concrete-building-1838640.png"
---

<section class="posts">
    <div class="container">
        <!-- left -->
        <div class="featured-post">
            <h2 class="title">Feautered Post</h2>
            <div class="block-card">
                <img src={featuredImage} alt="image" class="card-image">
                   
            </div>
        </div>
         


        <!-- the right -->
        <div class="all-posts"></div>
    </div>
</section>